<app-header></app-header>

<div class="container d-flex justify-content-center flex-column">

  <h1 class="mt-5">Books' Table</h1>

  <table class="table table-light">
    <thead class="tableCell1">
      <tr>
        <th scope="col" style="background-color:#cfb8f7;">Cover</th>
        <th scope="col" style="background-color:#cfb8f7;">Name</th>
        <th scope="col" style="background-color:#cfb8f7;">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of books">
        <td class="tableCell"><img src="{{item.bok_image}}" class="bookCover"></td>
        <td class="tableCell">{{item.bok_tittle}}</td>
        <td class="tableCell">{{item.bok_author}}</td>
      </tr>      
    </tbody>
  </table>

</div>
