<app-header></app-header>

<div class="container d-flex justify-content-center flex-column">

  <h1 class="mt-5">Books' Table</h1>

  <table class="table table-light">
    <thead>
      <tr>
        <th scope="col" style="background-color:#cfb8f7;">#</th>
        <th scope="col" style="background-color:#cfb8f7;">First</th>
        <th scope="col" style="background-color:#cfb8f7;">Last</th>
        <th scope="col" style="background-color:#cfb8f7;">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>
