<header>
  <div class="bg-light d-flex justify-content-center">
    <img src="assets/img/logo.png" routerLink="/home">
  </div>
  <nav>
    <ul class="nav nav-pills bg-light d-flex justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">BOOKS</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/books/table"> Books Table</a></li>
          <li><a class="dropdown-item" routerLink="/books/add">New Book</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">CDs/DVDs</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#">CDs/DVDs Table</a></li>
          <li><a class="dropdown-item" routerLink="#">New CD/DVD</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Boadgames</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#">Boardgames Table</a></li>
          <li><a class="dropdown-item" routerLink="#">New Boardgame</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
